@font-face {
    font-family: 'grayed_rainbowregular';
    src: url('../stylesheets/fonts/webfontkit-20201001-100739/grayedrainbow-webfont.woff2') format('woff2'), url('../stylesheets/fonts/webfontkit-20201001-100739/grayedrainbow-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 42%;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: #;
    text-shadow: 2px 2px #000000;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: #;
    text-shadow: 1px 1px black;
}

.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.navbar-nav a {
    font-family: #;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 55px;
    font-family: grayed_rainbowregular;
    font-weight: normal;
    font-style: normal;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.navbar-light.navbar-nav.nav-link:focus.,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff !important;
}

.w-100 {
    height: 100vh;
}

@media only screen and (max-width:767px) {
    .navbar-nav.ml-auto {
        background: rgba(0, 0, 0, 0.5);
    }
    .navbar-toggler {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3px;
        background: #fff;
    }
}